{% extends "_base.html" %}
{% block pagename %}info.html{% endblock %}

{% block content %}
<style>
	.centering {
		text-align: center;
	}

	h2 {
		text-align: center;
		margin: 20px 0;
	}

      .marketing {
        margin: 80px 0;
      }
</style>



<div class="jumbotron">
	<h1>Common sense to the copyright law</h1>
</div>

<div class="row-fluid">
	<div class="span3">
	</div>
	<div class="span6 centering">
	<h2>The law proposal in a nutshell</h2>
	</div>
</div>
<div class="row-fluid">
	<div class="span3">
	</div>
	<div class="span6">
	<p>
"Common sense to the copyright law" ("Järkeä tekijänoikeuslakiin") is a 
<a href="https://www.kansalaisaloite.fi/fi/tietoa/briefly-in-english">citizen initiative</a>, 
which is aimed at making the Finnish copyright law make more sense.
By law, the citizen initiative law proposal will end up directly in the 
parliament, if 50&nbsp;000 Finnish citizens sign the initiative.
</p>
<br/>

<h2 style="margin-top: 40px">Summary</h2>

<p>
A summary of <a href="https://www.kansalaisaloite.fi/fi/aloite/70">the law proposal (in Finnish)</a> for those, who can't read it through:
</p>

<p>
<b>The main aim of the law proposal is to fix
the excesses of the current copyright legislation 
in the areas of network surveillance and damages.
</b>
</p>

<p>
The law proposal does not make unauthorized downloading of content
legal. However, <b>instead of</b> charging an individual for a 
<b>copyright felony</b> for such an offence, it will be made punishable
as a <b>copyright misdemeanour</b>. The law proposal also limits the
extent of private network surveillance.
</p>

<p>
The more serious charge, copyright felony, makes it possible to perform
house searches,
confiscation and large damage fees — in the current legislation, also
lesser offences are treated as felonies.
In the law proposal, copyright felony charges would be used only
for those involved in commerical or extensive copyright infringement.
</p>

<p>
<b>
Secondarily, the law proposal aims to amend the position of the consumer,
artist and other content producers
</b>
and to also improve development of new services based on network technology.
The artists are given <b>the right for dual licensing and withdrawal</b>,
which allows the artist to use e.g. an open license. Furthermore, <b>
parody and satire rights</b> are given to existing content.
</p>

<p>
<b>Private copies for own usage</b> are allowed, and third parties are allowed to make those.
This allows development of network based storage services, such as "TV-kaista".
<b>Works made for education and research use</b> are allowed also in
"virtual class rooms".
</p>

<p>
The most important effect of the law proposal is to refrain from putting
citizens and artists against each other and to encourage constructive
discussion about further developing the copyright legislation.
</p>

<p>
Although <a href="https://www.kansalaisaloite.fi/fi/aloite/70">the proposal (in Finnish)</a> is quite long, it is fairly easy to read (even for such a complex legislation).
</p>
<br/>

<h2>How can I support the proposal?</h2>
<p>
If you are a Finnish citizen, you can 
<a href="index.html">sign</a>
the citizen initiative
online or as a paper version. 
The online signing can be done in the online service of the Ministry of Justice,
which requires strong authentication. Strong authentication can be
done, for example, using Finnish online bank credentials.
</p>
<p>
If you can't or don't want to authenticate online, you can also sign 
the initiative 
<a href="events.html">in our events</a>
or by mail <a href="paper.html">on paper</a>.
</p>
<br/>
<p>
Read more about the initiative <a href="http://bit.ly/XXS7J9">in our press release 23rd January 2013 (in Finnish)</a>.
</p>

</div>
</div>

<div class="marketing">
</div>

<div class="footer centering">
	The campaign is led by <a href="http://www.avoinministerio.fi/">Avoin ministeriö</a>.
</div>

{% endblock %}
