{% extends "_base.html" %}

{% block pagename %}paper.html{% endblock%}
{% block content %}
<div class="jumbotron">
	<h1><a href="./">Common sense into<br>copyright law</a></h1>
</div>

<div class="row-fluid">
	<div class="span3">
	</div>
	<div class="span6 centering">
	<h2>Statement of support<br>on paper</h2>
	</div>
</div>
<div class="row-fluid">
	<div class="span3">
	</div>
	<div class="span6">
	<p>
	If you cannot or do not want to sign
	the law proposal online, you can send a signed
	statement of support ("Kannatusilmoitus") to
	the representative of this citizens' initiative.
	</p>
	<p>
	Proceed as follows:
	</p>
	<ol class="biglist">
		<li><b>Print</b> <a href="../files/kannatusilmoitus.pdf">the statement of support (in Finnish)</a> on A4 paper.
		<li><b>Fill in and sign</b> the statement paper.
		<li><b>Mail</b> the statement paper to the address:
		<p>
		<address>
<strong>Järkeä tekijänoikeuslakiin</strong><br>
PL 1403<br>
00101 Helsinki<br>
		</address>
		</p>
	</ol>
	<p>
	Your personal information is only given to the
	<a href="http://www.vrk.fi/">Population Register Centre</a>
	for final check-up and count. The Finnish citizens' initative act
	states the following:
	</p>
	<blockquote>
	<p>
	Personal information collected in the statements of support 
	may only be used in accordance with the provisions of this act. 
	The originator of the initiative and their agent can release 
	the information only to the Population Register Centre. 
	The information held by the authorities
	becomes public, when the minimum number of statements stated 
	in the constitution has been fulfilled.
	</p>
	<small><cite><a href="http://www.finlex.fi/fi/laki/alkup/2012/20120012#Pid1878842">Kansalaisaloitelaki (12/2012)</a></cite> (Unofficial translation)</small>
	<blockquote>
	</div>
</div>

{% endblock %}
