<a name="events"></a>

<div class="row-fluid">
	<div class="span3">
	</div>
	<div class="span6 centering">
	<h2>Tapahtumat</h2>
	</div>
</div>
<div class="row-fluid">
	<div class="span3">
	</div>
	<div class="span6">
	<table class="table table-striped">
	{# We could do this much better way. Generate this list programmatically
	   from some JSON source in build.py for instance. Please contribute. #}
	<tr>
		<th>Pvm</th>
		<th>Paikka</th>
		<th>Tapahtuma</th>
	</tr>
	<tr>
		<td>20.4.</td>
		<td>Panimoravintola Koulu, Turku</td>
		<td><a href="http://www.facebook.com/events/152259814935055/">TPB — Taistelu vapaasta Internetistä</a></td>
	</tr>
	<tr>
		<td>21.4.</td>
		<td>Helsingfors arbis, Helsinki</td>
		<td><a href="http://www.facebook.com/events/420299238063454/">Kansalaisaloitteet - todellista kansanvaltaa vai näennäisvaikuttamista</a></td>
	</tr>
	<tr>
		<td>23.4.</td>
		<td>Internet</td>
		<td><a href="http://www.facebook.com/events/160986290729976/">Internetin musta päivä</a></td>
	</tr>

	<tr>
		<td>1.5.</td>
		<td>Ullalinnanmäki, Helsinki</td>
		<td>Vappu</td>
	</tr>
	<tr>
		<td>25.&ndash;26.5.</td>
		<td>Helsinki</td>
		<td><a href="http://www.maailmakylassa.fi/etusivu">Maailma kylässä</a></td>
	</tr>
	</table>
	</div>
</div>

<div class="marketing">
</div>
